name:                                        02 - Create workload environment

on:
  workflow_dispatch:
    inputs:
      control_plane_name:
        description:                         "Control Plane Name configuration name, use the following syntax: ENV-LOCA-VNET"
        required:                            true
        type:                                environment
      workload_environment:
        description:                         "Workload environment (DEV, QA, PRD, ...)"
        required:                            true
        type:                                string
        default:                             TEST
      region:
        description:                         "Azure region to deploy the workload environment to. Use the short name, e.g. `westeurope`."
        required:                            true
        type:                                string
        default:                             westeurope
      workload_vnet:
        description:                         "Workload VNet name"
        required:                            true
        type:                                string
        default:                             SAP01

permissions:
  issues:                                    write
  contents:                                  write
  actions:                                   write

jobs:
  create_workload_environment:
    name:                                    Create workload environment
    environment:                             ${{ inputs.control_plane_name }}
    runs-on:                                 ubuntu-latest
    container:
      image:                                 ${{ vars.DOCKER_IMAGE }}
    steps:
      - name:                                Get app token
        id:                                  get_workflow_token
        uses:                                peter-murray/workflow-application-token-action@v3
        with:
          application_id:                    ${{ secrets.APPLICATION_ID }}
          application_private_key:           ${{ secrets.APPLICATION_PRIVATE_KEY }}
          #organization:                     ${{ github.repository_owner }}

      - name:                                Checkout
        uses:                                actions/checkout@v4
        with:
          fetch-depth:                       0
          token:                             ${{ secrets.GITHUB_TOKEN }}

      - name:                                Create GitHub Workload Environment
        env:
          GH_TOKEN:                          ${{ steps.get_workflow_token.outputs.token }}
        run:                                 |
          environment=${{ inputs.workload_environment }}
          region=${{ inputs.region }}
          workload_vnet=${{ inputs.workload_vnet }}

          pushd /source/deploy/terraform/terraform-units/modules/sap_namegenerator
          region_map=$(echo var.region_mapping.${region} | terraform console | tr -d '"')
          popd

          workload_config_name=${environment}-${region_map}-${workload_vnet}-INFRASTRUCTURE
          workload_config_environment_name=${environment}-${region_map}-${workload_vnet}
          url_to_call=/repos/${{ github.repository }}/environments/${workload_config_environment_name^^}

          echo "Creating environment: ${workload_config_environment_name^^}"
          _=$(gh api \
            -X PUT \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            ${url_to_call})

          # Add WORKSPACES file
          mkdir -p WORKSPACES/LANDSCAPE/${workload_config_name^^}

          cat .cfg_template/landscape.tfvars \
            | sed "s|@@ENV@@|${environment}|g" \
            | sed "s|@@REGION@@|${region}|g" \
            | sed "s|@@VNET@@|${workload_vnet}|g" \
            > WORKSPACES/LANDSCAPE/${workload_config_name^^}/${workload_config_name^^}.tfvars

          git config --global --add safe.directory ${GITHUB_WORKSPACE}
          git config --global user.name "GitHub Actions"
          git config --global user.email "sap-automation-deployer@noreply.github.com"

          git add WORKSPACES
          git commit -m "Add WORKSPACES for ${workload_config_name^^}"
          git pull --rebase origin main
          git push origin main

          # Set secrets
          if [[ "${{ vars.USE_MSI }}" != "true" ]]; then
            gh secret set ARM_CLIENT_SECRET --body "${{ secrets.ARM_CLIENT_SECRET }}" --env ${workload_config_environment_name}
          fi

          # Set variables
          gh variable set ARM_CLIENT_ID --body "${{ vars.ARM_CLIENT_ID }}" --env ${workload_config_environment_name}
          gh variable set ARM_SUBSCRIPTION_ID --body "${{ vars.ARM_SUBSCRIPTION_ID }}" --env ${workload_config_environment_name}
          gh variable set ARM_TENANT_ID --body "${{ vars.ARM_TENANT_ID }}" --env ${workload_config_environment_name}
          gh variable set ARM_OBJECT_ID --body "${{ vars.ARM_OBJECT_ID }}" --env ${workload_config_environment_name}
          gh variable set APPLICATION_CONFIGURATION_NAME --body "${{ vars.APPLICATION_CONFIGURATION_NAME }}" --env ${workload_config_environment_name}
          gh variable set DEPLOYER_KEYVAULT --body "${{ vars.DEPLOYER_KEYVAULT }}" --env ${workload_config_environment_name}
          gh variable set CONTROL_PLANE_NAME --body "${{ vars.CONTROL_PLANE_NAME }}" --env ${workload_config_environment_name}
          gh variable set TERRAFORM_REMOTE_STORAGE_ACCOUNT_NAME --body "${{ vars.TERRAFORM_REMOTE_STORAGE_ACCOUNT_NAME }}" --env ${workload_config_environment_name}
          gh variable set USE_MSI --body "${{ vars.USE_MSI }}" --env ${workload_config_environment_name}
